* {
    box-sizing: border-box;
   
  }

  
  body {
    font-family: Arial, Helvetica, sans-serif;
    background-image:url("Mechanik2.jpg");
    background-size: cover;
    background-position: center;
  }
  
  header {
    color:black;
    border: black;
    border-width: 15px;
    margin-left:auto;
    margin-right:auto;
    width: 1280px;
    background-color: rgb(255, 255, 255);
    padding: 30px;
    text-align: center;
    font-size: 35px;
  }
  
  div {
    margin-left: auto;
    margin-right: auto;
    float: center;
    width: 1280px;
    height: 300px;
    background:  #ffffff;
    padding: 20px;
    
  }
 button{
    color: rgb(0, 0, 0);
    background-color: rgb(219, 25, 25);
    border-color: rgb(0, 255, 0);
    border-radius: 12px;
    cursor: pointer;
    display: inline-block; 
    width: 200px;
    height: 50px;
    text-align: center;
    display: inline-block;

   
 }
  button:hover{
    transition-duration: 0.25s;
    background-color:  rgb(109, 12, 12);
    color: rgb(255, 255, 255);
}
  button:active{
    transition-duration: 0.1s;
    background-color: rgb(53, 44, 44);
    transform: translateY(4px);
  }

  
  article {
    width:1280px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background-color: #502727;
    height: 300px; 
  }

  footer {
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(83, 64, 64);
    padding: 10px;
    text-align: center;
    color: white;
  }
  
 
  
